In [1]:
# import dependencies
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
import tensorflow as tf
import sklearn as skl

In [2]:
#  Import and read the csv.
data_df = pd.read_csv("Triangle_role/Resources/sample_data.csv")
data_df.head()

,Year,FIPS,C_S,month,cases,Pcincome,POPESTIMATE,MFratio,POPEST_MALE,POPEST_FEM,...,WA,BA,IA,AA,NA,TOM,NH,H,Cost,RUCC
0,2017,1001,"Autauga County,Alabama",1,0,27824,55448,0.951913,27041,28407,...,42606,10816,254,693,59,1020,53908,1540,186712,2
1,2017,1001,"Autauga County,Alabama",2,0,27824,55448,0.951913,27041,28407,...,42606,10816,254,693,59,1020,53908,1540,186577,2
2,2017,1001,"Autauga County,Alabama",3,0,27824,55448,0.951913,27041,28407,...,42606,10816,254,693,59,1020,53908,1540,186397,2
3,2017,1001,"Autauga County,Alabama",4,0,27824,55448,0.951913,27041,28407,...,42606,10816,254,693,59,1020,53908,1540,186839,2
4,2017,1001,"Autauga County,Alabama",5,0,27824,55448,0.951913,27041,28407,...,42606,10816,254,693,59,1020,53908,1540,187155,2

In [3]:
data_df = data_df.drop(columns=["C_S"])
data_df.head()

,Year,FIPS,month,cases,Pcincome,POPESTIMATE,MFratio,POPEST_MALE,POPEST_FEM,MEDIAN_AGE_TOT,...,WA,BA,IA,AA,NA,TOM,NH,H,Cost,RUCC
0,2017,1001,1,0,27824,55448,0.951913,27041,28407,38.8,...,42606,10816,254,693,59,1020,53908,1540,186712,2
1,2017,1001,2,0,27824,55448,0.951913,27041,28407,38.8,...,42606,10816,254,693,59,1020,53908,1540,186577,2
2,2017,1001,3,0,27824,55448,0.951913,27041,28407,38.8,...,42606,10816,254,693,59,1020,53908,1540,186397,2
3,2017,1001,4,0,27824,55448,0.951913,27041,28407,38.8,...,42606,10816,254,693,59,1020,53908,1540,186839,2
4,2017,1001,5,0,27824,55448,0.951913,27041,28407,38.8,...,42606,10816,254,693,59,1020,53908,1540,187155,2

In [4]:
# creating the scaler instance
scaler = StandardScaler()

# Fitting the scaler
scaled_df = scaler.fit_transform(data_df)

In [5]:
scaled_df = pd.DataFrame(scaled_df, columns=data_df.columns)
scaled_df.head()

,Year,FIPS,month,cases,Pcincome,POPESTIMATE,MFratio,POPEST_MALE,POPEST_FEM,MEDIAN_AGE_TOT,...,WA,BA,IA,AA,NA,TOM,NH,H,Cost,RUCC
0,-1.414214,-1.705574,-1.593255,-0.408961,-0.294936,-1.156693,-0.45225,-1.132368,-1.181269,-0.335826,...,-0.865674,-0.362861,-0.550559,-0.564368,-0.405164,-0.779001,-0.796833,-0.58218,0.446886,-0.390567
1,-1.414214,-1.705574,-1.303572,-0.408961,-0.294936,-1.156693,-0.45225,-1.132368,-1.181269,-0.335826,...,-0.865674,-0.362861,-0.550559,-0.564368,-0.405164,-0.779001,-0.796833,-0.58218,0.443891,-0.390567
2,-1.414214,-1.705574,-1.013890,-0.408961,-0.294936,-1.156693,-0.45225,-1.132368,-1.181269,-0.335826,...,-0.865674,-0.362861,-0.550559,-0.564368,-0.405164,-0.779001,-0.796833,-0.58218,0.439897,-0.390567
3,-1.414214,-1.705574,-0.724207,-0.408961,-0.294936,-1.156693,-0.45225,-1.132368,-1.181269,-0.335826,...,-0.865674,-0.362861,-0.550559,-0.564368,-0.405164,-0.779001,-0.796833,-0.58218,0.449704,-0.390567
4,-1.414214,-1.705574,-0.434524,-0.408961,-0.294936,-1.156693,-0.45225,-1.132368,-1.181269,-0.335826,...,-0.865674,-0.362861,-0.550559,-0.564368,-0.405164,-0.779001,-0.796833,-0.58218,0.456715,-0.390567

In [6]:
# Split our preprocessed data into our features and target arrays
y = data_df["Cost"].values
X = data_df.drop(["Cost"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=22)

C:\Users\dog\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
# Fit the scaler
scaler.fit(X_train)

# Scale the data
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
# Create scaler instance
X_scaler = skl.preprocessing.StandardScaler()

# Fit the scaler
X_scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [8]:
# Create the Keras Sequential model
nn_model = tf.keras.models.Sequential()

In [9]:
# Add our first Dense layer, including the input layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="relu", input_dim=2))

In [10]:
# Add the output layer that uses a probability activation function
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

In [11]:
# Check the structure of the Sequential model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 1)                 3

 dense_1 (Dense)             (None, 1)                 2

=================================================================
Total params: 5
Trainable params: 5
Non-trainable params: 0
_________________________________________________________________

In [12]:
# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [13]:
# Fit the model to the training data
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=25)

Epoch 1/25

ValueError: in user code:

    File "C:\Users\dog\anaconda3\envs\PythonData\lib\site-packages\keras\engine\training.py", line 878, in train_function  *
        return step_function(self, iterator)
    File "C:\Users\dog\anaconda3\envs\PythonData\lib\site-packages\keras\engine\training.py", line 867, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\dog\anaconda3\envs\PythonData\lib\site-packages\keras\engine\training.py", line 860, in run_step  **
        outputs = model.train_step(data)
    File "C:\Users\dog\anaconda3\envs\PythonData\lib\site-packages\keras\engine\training.py", line 808, in train_step
        y_pred = self(x, training=True)
    File "C:\Users\dog\anaconda3\envs\PythonData\lib\site-packages\keras\utils\traceback_utils.py", line 67, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "C:\Users\dog\anaconda3\envs\PythonData\lib\site-packages\keras\engine\input_spec.py", line 263, in assert_input_compatibility
        raise ValueError(f'Input {input_index} of layer "{layer_name}" is '

    ValueError: Input 0 of layer "sequential" is incompatible with the layer: expected shape=(None, 2), found shape=(None, 24)