In [1]:
import pymongo
import json
import pandas as pd
#myclient = pymongo.MongoClient("mongodb://localhost:27017/")
from config import password
from config import username
myclient=pymongo.MongoClient(f"mongodb://{username}:{password}@ac-bwpvcfr-shard-00-00.sc3siep.mongodb.net:27017,ac-bwpvcfr-shard-00-01.sc3siep.mongodb.net:27017,ac-bwpvcfr-shard-00-02.sc3siep.mongodb.net:27017/?ssl=true&replicaSet=atlas-lvkd7c-shard-0&authSource=admin&retryWrites=true&w=majority")
mydb=myclient["HousingCovid"]

In [2]:
test = mydb.merged_data
test = pd.DataFrame(list(test.find()))

In [3]:
test.head()

,_id,cost_house,cases,fip_year_month,fips,pcincome,popestimate,mfratio,popest_male,popest_fem,...,rucc_2013,wa,ba,ia,aa,na,tom,nh,h,Year
0,63a3a97332af6aabd866823f,635279,0,6037-2019-1,6037,34156,10011602,0.972269,4935416,5076186,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,2019
1,63a3a97332af6aabd8668240,633105,0,6037-2019-2,6037,34156,10011602,0.972269,4935416,5076186,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,2019
2,63a3a97332af6aabd8668241,631271,0,6037-2019-3,6037,34156,10011602,0.972269,4935416,5076186,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,2019
3,63a3a97332af6aabd8668242,630818,0,6037-2019-4,6037,34156,10011602,0.972269,4935416,5076186,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,2019
4,63a3a97332af6aabd8668243,631688,0,6037-2019-5,6037,34156,10011602,0.972269,4935416,5076186,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,2019