In [2]:
# Initial imports.
import pandas as pd
from pathlib import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [3]:
#  Import and read the csv.
data_df = pd.read_csv("Resources/sample_data.csv")
data_df.head()

,Year,FIPS,C_S,month,cases,Pcincome,POPESTIMATE,MFratio,POPEST_MALE,POPEST_FEM,...,WA,BA,IA,AA,NA,TOM,NH,H,Cost,RUCC
0,2017,1001,"Autauga County,Alabama",1,0,27824,55448,0.951913,27041,28407,...,42606,10816,254,693,59,1020,53908,1540,186712,2
1,2017,1001,"Autauga County,Alabama",2,0,27824,55448,0.951913,27041,28407,...,42606,10816,254,693,59,1020,53908,1540,186577,2
2,2017,1001,"Autauga County,Alabama",3,0,27824,55448,0.951913,27041,28407,...,42606,10816,254,693,59,1020,53908,1540,186397,2
3,2017,1001,"Autauga County,Alabama",4,0,27824,55448,0.951913,27041,28407,...,42606,10816,254,693,59,1020,53908,1540,186839,2
4,2017,1001,"Autauga County,Alabama",5,0,27824,55448,0.951913,27041,28407,...,42606,10816,254,693,59,1020,53908,1540,187155,2

### Preprocessing the data

In [11]:
# Drop the null columns where all values are null
data_df = data_df.dropna(axis='columns', how='all')

In [12]:
# Drop the null rows
data_df = data_df.dropna()

In [13]:
# Using drop() to delete rows based on column value
data_df.drop(data_df[data_df['Year'] < 2019].index, inplace = True)

In [14]:
# Dropping "C_S" due to FIPS representing the same information
# also removes a categorical variables
data_df = data_df.drop(columns=["C_S"])

In [15]:
# Define the features set.
X = data_df.copy()
X = X.drop("Cost", axis=1)

# Define the target set.
y = data_df["Cost"].ravel()

In [16]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=22)

In [17]:
# Creating a StandardScaler instance.
scaler = StandardScaler()

# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [18]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=22)

In [19]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [21]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)
predictions

array([149586, 213613, 124383, 213733, 169895, 144256, 132082, 107147,
       275912, 146569, 124383, 105037, 108089, 144926, 147377, 205152,
       124383, 197032, 110508, 104362, 245806, 107882, 161921, 200999,
       165821, 201058, 108089, 119515, 201443, 204620, 226542, 150914,
       213784, 227802, 175811, 107147], dtype=int64)

In [24]:
y_test

array([150610, 217601, 123081, 219848, 171950, 143538, 134398, 106457,
       278810, 146402, 121689, 105664, 107834, 143665, 147699, 205927,
       125674, 194970, 109595, 104117, 241056, 107688, 163731, 201698,
       167795, 200071, 108820, 117599, 202020, 205471, 225005, 152008,
       214924, 229609, 173980, 107772], dtype=int64)

In [26]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    #cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])
    cm)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

cm_df

,0,1,2,3,4,5,6,7,8,9,...,58,59,60,61,62,63,64,65,66,67
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
64,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
65,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
66,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [27]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

,0,1,2,3,4,5,6,7,8,9,...,58,59,60,61,62,63,64,65,66,67
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
64,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
65,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
66,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

Accuracy Score : 0.0
Classification Report
              precision    recall  f1-score   support

      104117       0.00      0.00      0.00       1.0
      104362       0.00      0.00      0.00       0.0
      105037       0.00      0.00      0.00       0.0
      105664       0.00      0.00      0.00       1.0
      106457       0.00      0.00      0.00       1.0
      107147       0.00      0.00      0.00       0.0
      107688       0.00      0.00      0.00       1.0
      107772       0.00      0.00      0.00       1.0
      107834       0.00      0.00      0.00       1.0
      107882       0.00      0.00      0.00       0.0
      108089       0.00      0.00      0.00       0.0
      108820       0.00      0.00      0.00       1.0
      109595       0.00      0.00      0.00       1.0
      110508       0.00      0.00      0.00       0.0
      117599       0.00      0.00      0.00       1.0
      119515       0.00      0.00      0.00       0.0
      121689       0.00      0.00      0.00       1.0
      123081       0.00      0.00      0.00       1.0
      124383       0.00      0.00      0.00       0.0
      125674       0.00      0.00      0.00       1.0
      132082       0.00      0.00      0.00       0.0
      134398       0.00      0.00      0.00       1.0
      143538       0.00      0.00      0.00       1.0
      143665       0.00      0.00      0.00       1.0
      144256       0.00      0.00      0.00       0.0
      144926       0.00      0.00      0.00       0.0
      146402       0.00      0.00      0.00       1.0
      146569       0.00      0.00      0.00       0.0
      147377       0.00      0.00      0.00       0.0
      147699       0.00      0.00      0.00       1.0
      149586       0.00      0.00      0.00       0.0
      150610       0.00      0.00      0.00       1.0
      150914       0.00      0.00      0.00       0.0
      152008       0.00      0.00      0.00       1.0
      161921       0.00      0.00      0.00       0.0
      163731       0.00      0.00      0.00       1.0
      165821       0.00      0.00      0.00       0.0
      167795       0.00      0.00      0.00       1.0
      169895       0.00      0.00      0.00       0.0
      171950       0.00      0.00      0.00       1.0
      173980       0.00      0.00      0.00       1.0
      175811       0.00      0.00      0.00       0.0
      194970       0.00      0.00      0.00       1.0
      197032       0.00      0.00      0.00       0.0
      200071       0.00      0.00      0.00       1.0
      200999       0.00      0.00      0.00       0.0
      201058       0.00      0.00      0.00       0.0
      201443       0.00      0.00      0.00       0.0
      201698       0.00      0.00      0.00       1.0
      202020       0.00      0.00      0.00       1.0
      204620       0.00      0.00      0.00       0.0
      205152       0.00      0.00      0.00       0.0
      205471       0.00      0.00      0.00       1.0
      205927       0.00      0.00      0.00       1.0
      213613       0.00      0.00      0.00       0.0
      213733       0.00      0.00      0.00       0.0
      213784       0.00      0.00      0.00       0.0
      214924       0.00      0.00      0.00       1.0
      217601       0.00      0.00      0.00       1.0
      219848       0.00      0.00      0.00       1.0
      225005       0.00      0.00      0.00       1.0
      226542       0.00      0.00      0.00       0.0
      227802       0.00      0.00      0.00       0.0
      229609       0.00      0.00      0.00       1.0
      241056       0.00      0.00      0.00       1.0
      245806       0.00      0.00      0.00       0.0
      275912       0.00      0.00      0.00       0.0
      278810       0.00      0.00      0.00       1.0

    accuracy                           0.00      36.0
   macro avg       0.00      0.00      0.00      36.0
weighted avg       0.00      0.00      0.00      36.0

C:\Users\dog\anaconda3\envs\PythonData\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\dog\anaconda3\envs\PythonData\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\dog\anaconda3\envs\PythonData\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\dog\anaconda3\envs\PythonData\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\dog\anaconda3\envs\PythonData\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\dog\anaconda3\envs\PythonData\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))